/* shared style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.highlighter-text {
    font-size: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary-pink {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    margin-right: 20px;
}

.btn-primary-blue {
    background: #4EC5F7;
}

/* header style */


.header-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
    margin: 0;
    background-image: url(../images/Frame.png) no-repeat;
    position: relative;
    left: -270px;
    display: flex;
    align-items: center;

}

.head-content img {
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 25px;
    font-weight: 500;
    font-size: 1.125rem;

}

nav li a {
    text-decoration: none;
    color: rgba(60, 53, 79, 1);

}

.follow-icon {
    display: inline-block;
    width: 262px;
    height: 56px;
    border: 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    line-height: 56px;
    padding: 0 15px;
}

.youtube-icon {
    margin-left: 5px;
    font-size: 15px;
    color: red;
}

/* Main part */
/* banner section */
.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}

.banner-img {
    width: 50%;
    height: 50%;
}

.banner-description {
    position: relative;
    top: -20px;
    color: #534C64;
    /* text-align: center; */
    font-size: 1.25rem;
    font-weight: 500;
    margin: 5px 0;
    padding: 0;
}

/* Online Game Section */
.onlines-games-section {
    margin-top: 30px;
    margin-left: 50px;
    padding: 50px 100px 70px 70px;
}

.onlines-games-content {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.onlines-games-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.onlines-games-description {
    position: relative;
    top: -20px;
}

.onlines-games-image-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 8.5rem;
    /* padding: 48 240 0; */
    width: 500px;

}

.onlines-games-image-container img {

    position: relative;
    height: 300px;
    width: 250px;
    margin: auto;
    border: 0;
}

.onlines-games-image-container .img-caption {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    height: 50px;
}


/*  play-instantly-section  */

.play-instantly-section{
    display: flex !important;
    align-items: center;
    padding: 120px 70px;
     gap: 100px; 

}

.play-instantly-content {
    position: relative;
    top:-20px;
    margin-left: 60px;
   text-align: center;
   width: 500px;
   height:400px;
   padding-right: 50px;
}

.play-instantly-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color:#0B0223;
}

.play-instantly-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top:-20px;
}
.angel-bedge {
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    /* background: url(../images/Rectangle\ 66.png), no-repeat; */
    position: relative;
    bottom: 150px;
    right: 130px;
}


/* section of games */
