/* shared style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.header-title {
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
    margin: 0;
    background-image: url(../images/Frame.png) no-repeat;
    position: relative;
    left: -270px;
    display: flex;
    align-items: center;

}

.highlighter-text {
    font-size: 90px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary-pink {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    margin-right: 20px;
}

.btn-primary-blue {
    background: #4EC5F7;
}

/* header style */

.header-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
    margin: 0;
    background-image: url(../images/Frame.png) no-repeat;
    position: relative;
    left: -270px;
    display: flex;
    align-items: center;
}

.head-content img {
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 25px;
    font-weight: 500;
    font-size: 1.125rem;

}

nav li a {
    text-decoration: none;
    color: rgba(60, 53, 79, 1);

}

.follow-icon {
    display: inline-block;
    width: 262px;
    height: 56px;
    border: 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    line-height: 56px;
    padding: 0 15px;
}

.youtube-icon {
    margin-left: 5px;
    font-size: 15px;
    color: red;
}

/* Main part */
/* banner section */
.banner-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-top: 20px;
}

.banner-img {
    width: 50%;
    height: 50%;
}

.banner-description {
    position: relative;
    top: -20px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 5px 0;
    padding: 0;
}

/* Online Game Section */
.onlines-games-section {
    margin-top: 30px;
    margin-left: 50px;
    padding: 50px 100px 70px 70px;
}

.onlines-games-content {
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
}

.images-item{
    position: relative;
    text-align: center;
}
.images-item img{
    height: 300px;
    width: 250px;
    border: 0;
    transition: background-color 0.3s;
}
.image-overlay:hover img {
    background-color: #555; 
}
.onlines-games-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.onlines-games-description {
    position: relative;
    top: -20px;
}

.onlines-games-image-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 8.5rem;
    width: 500px;

}

.onlines-games-image-container img {

    position: relative;
    height: 300px;
    width: 250px;
    margin: auto;
    border: 0;
}

.onlines-games-image-container .img-caption {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    height: 50px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.play-button i {
    font-size: 24px;
    color: #FFF; 
    background-color: #333; 
    border-radius: 50%;
    padding: 10px;
}

.play-button span {
    font-size: 16px;
    color: #333;
    display: block;
}


.play-button:hover i {
    color: #FFF;
}

.play-button:hover span {
    color: #FFF;
}


/*  play-instantly-section  */

.play-instantly-section {
    display: flex !important;
    align-items: center;
    padding: 120px 70px;
    gap: 100px;

}

.play-instantly-content {
    position: relative;
    top: -20px;
    margin-left: 60px;
    text-align: center;
    width: 500px;
    height: 400px;
    padding-right: 50px;
}

.play-instantly-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}

.play-instantly-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -20px;
}

.angel-bedge {
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 10px solid #FFF;
    /* background: url(../images/Rectangle\ 66.png), no-repeat; */
    position: relative;
    bottom: 150px;
    right: 130px;
}


/* section of games */

.game-section-container {
    max-width: 1900px;
    padding: 0 150px 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    top: -50px;
    bottom: 50px;

}

button .image-button {
    padding: 10px 20px;
    background-color: #FFF;
    cursor: pointer;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    padding: 1px 6px 1px 6px;
    font-size: 13px;
    border: 0;
}

button>img,
button>span {
    vertical-align: middle;
    font-weight: 600;
    color: #0B0223;
}

.image-button:hover {
    border: 2px solid #FF42A5;
    border-radius: 50px;
}

.image-button:hover span {
    color: #FF42A5;
}

/* footer style */

.footer-section {
    width: 1350px;
    height: 600px;
    background: #0B0223;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.footer-top {
    position: relative;
    top: 50px;
    left: 530px;
    display: flex;
    align-items: center;
}

.footer-top img {
    margin-right: 10px;
}

.footer-title {
    color: white;
    text-align: center;
    font-size: 2.813rem;
    font-weight: 700;
    margin: 0;
    background-image: url(../images/Frame.png) no-repeat;
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex-wrap: wrap;
    gap: 30px;
    top: 30px;
}

.menu {
    list-style: none;
}

.footer-section .menu li>a {
    text-decoration: none;
    color: #FFF;
}

.icon-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    bottom: 50px;
    gap: 25px;
}

.icon-link li {
    color: #FFF;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.footer-section p {
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.footer-terms ul {
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin-bottom: 50px;
}